<div style="margin: 5px 0px;">
  <div style="margin: 15px 0px;font-size: 1.25em;">Hey <%= @testimonial.name %>,</div>
  <div style="margin: 5px 0px">
    <div style="margin: 5px 0px">I have recieved your testimonial and thanks for posting it.</div>
    <div style="margin: 5px 0px">You can view your posted testimonial along with others in the slider on this <a target="_blank" href="<%= @testimonial_url%>">page.</a></div>
    <div style="margin: 5px 0px">I appreciate you, taking out time for this.</div>
  </div>
  <div style="margin: 15px 0px;">Regards,<br/>Arpan Goswami</div>
</div>