<div style="margin: 5px 0px;">
  <div style="margin: 15px 0px;font-size: 1.25em;">Hey <%= @visitor.first_name %>,</div>
  <div style="margin: 5px 0px">
    <div style="margin: 5px 0px">I have recieved your message and thanks for messaging me.I will reach out to you shortly.</div>
    <div style="margin: 5px 0px">You can download my CV on this <a target="_blank" href="<%= @home_url %>">page.</a></div>
    <div style="margin: 5px 0px">If you have anything to write about my portfolio or me, do post a testimonial <a target="_blank" href="<%= @testimonial_url%>">here.</a></div>
    <div style="margin: 5px 0px">Thanks again, hope to catch up with you soon.</div>
  </div>
  <div style="margin: 15px 0px;">Regards,<br/>Arpan Goswami</div>
</div>